@layer components {
button primary {
  background-color: blue;
  color: white;
  
}
button secondary {
  background-color: orange;
  
}
button {
  background-color: red;
  color: white;
  padding: 10px 20px;
  border-radius: 9px;
  
}
}