@layer components {
* {
  box-sizing: border-box;
}

div.should-extract-var {
  border: 1px solid [object Object];
}

div.should-keep-text {
  content: attr(data-replicated-value) " ";
}

div.should-convert-to-css-unicode-format {
  content: '\0000a0';
}

div.bgimage {
  background-image: url('data:image/svg+xml;utf8,<svg width="7" height="7" viewBox="0 0 7 7" xmlns="http://www.w3.org/2000/svg"><circle cx="3.5" cy="3.5" r="3.5" fill="red"/></svg>');
}

div>* {
  box-sizing: padding-box;
  font-size: 16px;
}

svg circle {
  fill: red;
}

button.primary {
  background-color: blue;
  color: yellow;
}

button.secondary {
  background-color: orange;
}

button .icon,
button svg,
button svg.icon {
  width: 20px;
  height: 20px;
}

button+p {
  color: green;
}

button~p {
  color: purple;
}

button:has(.icon)::after {
  content: x;
}

button:has(.icon) {
  border-radius: 50%;
  --moz-border-radius: 50%;
}

:root.dark button,
:root.dark .player {
  background-color: var(--paper-tinted);
}

button,
.player {
  background-color: var(--paper-bright);
  color: white;
  padding: 10px 20px;
  border-radius: 9px;
}

@media screen and (prefers-color-scheme: dark) {

  :root.auto button,
  :root.auto .player {
    background-color: var(--paper-tinted);
  }
}

}